alembic==1.8.1
amqp==5.2.0
bcrypt==3.2.0
billiard==4.2.0
celery==5.3.6
cffi==1.16.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
greenlet==3.0.1
kombu==5.3.4
Mako==1.2.3
MarkupSafe==2.1.1
packaging==23.1
pip==23.3.2
ply==3.11
prompt-toolkit==3.0.43
psycopg2==2.9.3
pycparser==2.21
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==0.21.0
redis==5.0.1
setuptools==68.2.2
sip==6.7.12
six==1.16.0
SQLAlchemy==2.0.21
typing_extensions==4.7.1
tzdata==2023.3
vine==5.1.0
wcwidth==0.2.12
wheel==0.41.2
