QPushButton {
    background-color: #79ba8a;
    color: #2e1c1c;
    border-radius: 5px;
    font: bold 14px;
    min-width: 12em;
    max-width: 20em;
    margin: 0 auto 0 auto;
    padding: 6px;
    text-align: bottom;
}

QPushButton:pressed {
    background-color: #2E7031;
    border: 2px solid #2E7031;
}

QPushButton:hover:!pressed {
    background-color: #74AD6F;
    color: #cccccc;
    border-radius: 50%;
}
