QPushButton {
    background-color: #79ba8a;
    color: #2e1c1c;
    border-width: 4px;
    border-color: #000000;
    font: bold 14px;
    min-width: 12em;
    max-width: 20em;
    margin: 0 auto 0 auto;
    padding: 6px;
}
QPushButton:pressed {
    background-color: #54805f;
}
QPushButton:hover:!pressed {
    background-color: #93e6a8;
}